# Entorno y secretos
.env
seeds/heladeria.json

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/

# Node
node_modules/
dist/

# Editor / SO
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db
